@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">歡迎光臨</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">建立ASP.NET Core網站</a>.</p>
</div>
