@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">歡迎光臨</h1>
	<h1>第一次簽入</h1>
	<h1>第二次簽入</h1>
	<h1>第三次簽入</h1>
	<h1>第四次簽入 - 這個簽入還在開發中，尚未完成</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">建立ASP.NET Core網站</a>.</p>
</div>
